* {
  box-sizing: border-box;
  font-family: 'Amatic SC'; 
  font-size: 12px;   
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body, html {
  height: 100%;
}

img {
  max-width: 100%
}

h1 {
  font-size: 8.2rem;
     font-weight: 600;
}

h2 {
   font-size: 4.3rem;
      font-weight: 600; 
}

h3 {
    font-size: 3.3rem;
    font-weight: 600;
}

/**** MENU  ****/
#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  /* margin-bottom: -1.3rem; */
}

#logo {
  right: 0;
  flex: 0 1 auto;
  align-self: auto;;
}

#logo img {
  max-width: 6rem;
  display: inline-block;
  text-align: center;
  /* padding: 13px 12px; */
}

#nav {
  width: 100%;
  height: 5rem;
  /* font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  left: 50%; 
  margin-left: -40rem; */
}

#nav > a {
  display: none;
}

#nav li {
  position: relative;
}

#nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

#nav li a:active {
  background-color: #A12325;
  color: white;
}

#nav li a:hover:not(.active) {
  background-color: #A12325;
  color: white;
}

#nav span:after {
  width: 0;
  height: 0;
  /*border: 0.313em solid transparent;
  border-bottom: none;
  border-top-color: #efa585;*/
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  /*right: -0.313em;*/
}


/* first level */
#nav > ul {
  height: 6rem;
  list-style-type: none;
}

#nav > ul > li {
  width: 25%;
  height: 100%;
  float: left;
}

#nav > ul > li > a {
  height: 100%;
  font-size: 3rem;
   /* 24   */
  line-height: 6rem; 
  /* 60 (24) */
  text-align: center;
  /* font-family: 'Amatic SC', cursive; */
  font-weight: bold;
  color: #000000;
  text-align: left;
  padding-left: 2.5rem;
  /*margin-left: 1.2em;*/
}

#nav > ul > li:not(:last-child) > a {
  border-right: 1px solid #cc470d;
}

#nav > ul > li:hover > a,
#nav > ul:not(:hover) > li.active > a {
  background-color: #A12325;
  color: #FFF;
}


/* second level */

#nav li ul {
  background-color: #FFF;
  display: none;
  position: absolute;
  /*    top: 100%;*/
  list-style-type: none;
}

#nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}

#nav li:not(:first-child):hover ul {
  left: -1px;
}

#nav li ul a {
  font-size: 2.5rem;
  /* border-top: 1px solid #e15a1f; */
  padding: 1.35rem;
  /* font-family: 'Amatic SC', cursive; */
  font-weight: bold;
}


/*
#nav li ul li a:hover, #nav li ul:not( :hover ) li.active a 
{
    background-color: yellow;
}
*/

@media only screen and ( max-width: 1000px) {
  #nav {
    width: 100%;
    position: static;
    margin: 0;
    height: 6rem;
  }
  /*Fisrt level  */
  #nav > ul > li > a {
    font-size: 2.5rem;
    line-height: 6rem
  }
  /*Second level  */
  #nav li ul a {
    font-size: 2rem;
    font-weight: bold;
    padding: 1.35rem;
  }
}

@media all and (max-width: 810px) {
  #nav {
    width: 100%;
    position: static;
    margin: 0;
    height: 6rem;
  }
  /*Fisrt level  */
  #nav > ul > li > a {
    font-size: 2.5rem;
    line-height: 6rem;
    /* padding-left: 1.5rem; */
  }
  /*Second level  */
  #nav li ul a {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.35rem;
  }
}

@media only screen and ( max-width: 680px) {
  #logo {
    display: none;
  }
  
  #logo img {
    display: none;
  }

  #nav {
    position: relative;
    top: auto;
    left: auto;
    background-color: #A12325; 
  }

  #nav > a {
    width: 3.125em;
    height: 3.125em;
    text-align: left;
    text-indent: -9999px;
    background-color: #A12325;
    position: relative;
  }
  
  #nav > a:before,
  #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
    /*        background-color: #A12325;*/
  }

  #nav > a:after {
    top: 60%;
  }

  #nav:not(:target) > a:first-of-type,
  #nav:target > a:last-of-type {
    display: block;
  }
  /* first level */
  #nav > ul {
    height: auto;
    display: none;
    /*        position: absolute;*/
    left: 0;
    right: 0;
  }
  #nav:target > ul {
    display: block;
  }
  #nav > ul > li {
    width: 100%;
    float: none;
  }
  #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em;
    background-color: #A12325;
    /* 20 (24) */
  }
  #nav > ul > li:not(:last-child) > a {
    border-right: none;
    border-bottom: 1px solid #cc470d;
  }
  /* second level */
  #nav li ul {
    position: static;
    padding: 1.25em;
    /* 20 */
    padding-top: 0;
    background-color: #901F21;
  }
}

/**** CONTENIDO ****/

.content {
    width: 100%;
    position: relative;
    margin: 0 auto;
    line-height: 1.4rem;
}

.contenidoDosColumnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    height: 400px;
    margin: 4rem;
}

.columna1 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin: 3rem;
}

.columna2 {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin: 3rem;
}

/***** Pagina Home - (index.html)*******/
.parallaxIndexInicio {
    /* The image used */
    /*    background-image: */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imagenes/fondo.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background{
    display: none;
}

.bienvenida {
    /*    margin-top: 5rem;*/
    /*    color: #A12325;*/
    color: #fff;
    padding-top: 15%;
    text-align: center;
}

.introduccion {
  height: 100vh;
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(161, 35, 37, 0.5)); */
  background: #f8f8f8;
  font-size: 25px;
  text-align: center;
  /* padding: 10rem 8rem; */
}

.homeParagraphs {
    padding-top: 15rem;
}
.img-responsive {

}
/*.col-md-4, .col-md-5 {
  background-color: red;
}*/

.homeImage {
  padding-top: 6%;
  width: 90%;
}
.parallaxIndexCentro {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/todos.jpg");
  /* Full height */
  width: 100vw;
  height: 80%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxIndexFinal {
  /* The image used */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/muestras.jpg");
  /* Full height */
  height: 80%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products {
  height: 105vh;
   /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(161, 35, 37, 0.5));  */
  background: #f8f8f8;
  font-size: 25px;
  text-align: center;
  padding-top: 8rem; 
  display: flex;
}
.container {
      background: #f8f8f8;
}
.description {
    font-size: 2rem;
    padding-top: 2rem;
    width: 100%;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    text-align: justify;
}
.image {
    height: 40rem;
}

.imageSingleProduct {
   height: 45vh;   
   padding-bottom: 2.8rem;
}
.imagen1 {
    order: 1;
    flex: 0 1 auto;
    align-self: center;
}

.imeagen2 {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.contenedorImagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
/*Pagina PinaConfitada - (index.html)*/

.parallaxPinaConfitadaInicio {
    /* The image used */
    background-image: url("imagenes/piñaConfitadaEmpaque.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxPinaConfitadaCentro {
    /* The image used */
    background-image: url("imagnes/piñaConfitada.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Page History*/

.topRow{
    padding-top: 6rem;
}

/*Page places */
.listOfPlaces {
    font-size: 2rem;
    padding: 0.2rem;
    width: 100%;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    text-align: justify;
    list-style-type:disc;
}

.place {
    font-size: 1.7rem;
    padding: 0.4rem;
    width: 100%;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    text-align: justify;
    list-style-type:disc;
}

.colListOfPlaces{
  padding: 2rem 10rem;
  margin: 0rem 5rem;

}

/*
Page Amazilias Womens
*/
.descriptionAccordion{
  font-size: 1.65rem;
  width: 100%;
  font-family: 'Proxima Nova', Georgia, sans-serif;
  text-align: justify;
  padding: 0.9rem;
}

.dulcisHomeMobile{
  display: none;
}

/*footer  */
.parallaxFooter {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imagenes/pina.png');  
  /* background-color: #A12325;  */
  /* Full height */
  width: 100vw;
  height: 20vh;
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.footerNav {
  list-style: none;
}
.footerNav > li {
  display: inline-table;
  padding: 2rem;
}
.footerNav > li > a {
  font-size: 3.5rem;
}
.footerNav > li > ul {
  list-style: none;
  
}
.footerNav > li > ul > li > a {
  font-size: 2.5rem;
}
.social{
  font-size: 5rem;
  padding: 2rem;
}
/* Small devices */

@media all and (max-width: 768px) {
    .logo {
        display: none;
    }
    .navigation {
        margin: 0;
    }
    .content {
        padding: 0.5rem;
    }
    .footer {
        padding: 0.5rem 0;
    }
    .footer div.content {
        flex-direction: column;
    }
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {
        margin-left: 0;
    }
    .homeParagraphs {
      padding-top: 2rem;
    }

    .homeImage {
      padding-top: 0;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        display: block;
        text-align: center;
        height: 47vh;
        margin-left: 7rem;
    }
    .homeParagraphs{
        padding-top: 0;
    }
    .imageDulcis{
        width: 57%;
        margin-left: 27%;
    }
    .dulcisHomeDesktop{
        display: none;
    }
    .dulcisHomeMobile{
        display: block;
        font-size: 3rem;
        font-weight: 600;
    }
    .parallaxIndexCentro{
        height: 110%;
        width: 100%;
        background-attachment: scroll;
    }
    .products{
        padding-top: 0;
    }
    .image{
        height: 32rem;
    }
    .parallaxIndexInicio {
        height: 100%;
        width: 100%;
        background-attachment: scroll;
    }
    .parallaxIndexFinal{
        height: 100%;
        width: 100%;
        background-attachment: scroll;
    }
    h2 {
        margin-top: 0;
        padding-top: 1rem;
    }

    
}
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
    .homeParagraphs{
        padding-top: 0;
    }
    .imageDulcis{
        width: 57%;
        margin-left: 27%;
    }
    .dulcisHomeDesktop{
        display: none;
    }
    .dulcisHomeMobile{
        display: block;
        font-size: 3rem;
        font-weight: 600;
    }
    .parallaxIndexCentro{
        height: 100vh;
    }
    .products{
        padding-top: 0;
    }
    .image{
        height: 32rem;
    }
    .parallaxIndexInicio {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 85vh;
             color:rebeccapurple;
        background-color: rebeccapurple;
    }
    .parallaxIndexFinal{
        height: 65%;
    }
    h2 {
        margin-top: 0;
        padding-top: 2rem;
    }
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .homeParagraphs{
        padding-top: 0;
    }
    .imageDulcis{
        width: 57%;
        margin-left: 27%;
    }
    .dulcisHomeDesktop{
        display: none;
    }
    .dulcisHomeMobile{
        display: block;
        font-size: 3rem;
        font-weight: 600;
    }
    .parallaxIndexCentro{
        height: 63%;
    }
    .products{
        padding-top: 0;
    }
    .image{
        height: 32rem;
    }
    .parallaxIndexInicio {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 65vh;
           color: lightskyblue;
        background-color: lightskyblue;
    }
    .parallaxIndexFinal{
        height: 55%;
    }
    h2 {
        margin-top: 0;
        padding-top: 2rem;
    }
}


@media screen and (device-aspect-ratio: 40/71)  {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }

    .homeParagraphs {
      padding-top: 2rem;
    }

    .homeImage {
      padding-top: 0;
    }

  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
      display: block;
      text-align: center;
      height: 47vh;
      margin-left: 7rem;
    }


     .parallaxIndexInicio {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 70vh;
                   color: orange;
        background-color: orange;
    }
    .introduccion {
        height: 100vh;
    }

    .imageDulcis{
        width: 57%;
        margin-left: 27%;
    }
    .parallaxIndexCentro {
      height: 30vh;
    }

    .image {
        height: 32rem;
    }

    .parallaxIndexFinal {
      height: 55vh;
    }
}


/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;      
    }
    .homeParagraphs {
      padding-top: 2rem;
    }
    .homeImage {
      padding-top: 0;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
      display: block;
      text-align: center;
      height: 47vh;
      margin-left: 7rem;
    }
    .parallaxIndexInicio {
        height: 50vh;
    }
    .parallaxIndexCentro {
      height: 30vh;
    }
    .image {
        height: 32rem;
    }
    .parallaxIndexFinal {
      height: 55vh;
    }
}